Pillow==9.2.0
certifi==2025.4.26
charset-normalizer==2.1.1
geopandas==0.10.2
idna==3.10
matplotlib-inline==0.1.7
matplotlib-venn==0.11.6
matplotlib==3.6.3
numpy-financial==1.0.0
numpy==1.24.0
pandas==1.5.3
requests==2.31.0
urllib3==1.26.20
# sqlite3 est inclus par défaut dans Python